<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ThaiProject1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5E7E4C471DDDCA510011871B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E7E4C5B1DDDCA510011871B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E7E4C661DDDCA510011871B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
